# === Maven ===
target/
*.class
*.jar
*.war
*.ear
*.settings
dependency-reduced-pom.xml

customer-service/target/
*.class
*.jar
*.war
*.ear
*.settings

dependency-reduced-pom.xml

order-service/target/
*.class
*.jar
*.war
*.ear
*.settings
dependency-reduced-pom.xml

payment-service/target/
*.class
*.jar
*.war
*.ear
*.settings
dependency-reduced-pom.xml

product-service/target/
*.class
*.jar
*.war
*.ear
*.settings
dependency-reduced-pom.xml


# === Eclipse ===
.project
.classpath
.settings/


# === OS / IDEs ===
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# === Logs / Temp / Env ===
*.log
logs/
*.tmp
*.bak
*.swp
*.swo
application-local.properties
application-local.yml
.env